.uvcw-edit {
    cursor: pointer;
    display: inline-block;

    i {
        margin-right: 5px;
    }
}

.uvcw-swal {
    width: 1000px !important;
    padding-bottom: 0 !important;

    .swal2-close:focus {
        box-shadow: none;
    }

    .swal2-html-container {
        max-height: 80vh;
        overflow-y: auto;
        margin: 50px;
    }
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow-y: visible !important;
}

.uvcw-swal-loader {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uvcw-spinner {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    border-top: 2px solid black;
    border-radius: 500%;
    animation: spin .3s linear infinite;
}

.uvcw-popup-source {
    display: none;
}

.uvcw-product-container {

    .attribute {
        clear: both;
    }

    .single_variation_wrap {
        clear: both;
    }

    .quantity {
        display: none !important;
    }
}

.uvcw-prod-images {
    width: 350px;
    margin: 0 auto;
}

.uvcw-single-prod-image {
    display: block;
}

.uvcw-update-btn {
    margin-top: 40px;
}

.uvcw-prod-title {
    line-height: 17px;

    a {
        font-size: 20px;
        font-weight: 500;
    }
}

.woocommerce div.product .uvcw-prod-details form.cart .cart-btns-wrap .button {
    min-width: 250px;
}